<div class="boardBoxContainer">
    <h1 class="center-me">TicTacToe</h1>

    <div class="winner" *ngIf="winner">
        <h2>Winner is : {{winner}}</h2>
    </div>

    <div class="boardBox" *ngFor='let columns of myBoard.cells; let i=index;'>
        <div *ngFor="let cell of columns; let j=index;">
            <div [ngClass]="cell.cssClass" (click)="selectedCell($event, i, j)">
                <p class="center-me">{{cell.displayValue}}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="center-me">
        <button class="button-84" (click)="reset()">Restart Game</button>
    </div>
</div>